# PX4
PX4-Autopilot/

# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/
Config/
Plugins/
Source/
*.xcworkspace/
*.sln
sim.uproject

# Pixi / tooling
pixi.lock
pixi.toml
Dockerfile

# macOS noise
.DS_Store

# Python noise
__pycache__/
*.pyc
*.pt
*.pth

#ROS build artifacts
rosgz/build/
rosgz/install/
rosgz/log/

# Gazebo generated data
bbox_data/
segmentation_data/

.vscode/

px4_ros_uxrce_dds_ws/

rosbag2*
*.zsh